.contactsBlock {
    background-color: #325d32;
}

.contactsContainer {
    background-color: #566b6c;
    min-height: 100vh;
    flex-direction: column;
}

.title {
    background-color: #ffc401;
}

.contactsForm {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.sendButton {

}