.footerBlock{
    background-color: #425354;
}
.footerContainer{
    background-color: #4663c4;
    flex-direction: column;
}
.title{
    background-color: #ffc401;
}
.socialContainer{
    display: flex;
    justify-content: space-around;
}
.social{
    border: 1px solid;
    background-color: #7c6363;
    width: 40px;
    height: 40px;
    margin: 3px;
}